@page "/{channel?}/{feed?}/{year:int:min(1969):max(2100)?}/{month:int:min(1):max(12)?}/{day:int:min(1):max(31)?}/{hour:int:min(0):max(23)?}"

@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@if (Model.Granularity == IndexModel.GranularityLevel.None)
{
    @* nothing to show since no user logged in *@
    <h1 class="text-center display-1">Nothing to show, please log in to see the news.</h1>
}
else
{
    @foreach (var channel in Model.Channels)
    {
        @if (Model.Granularity > IndexModel.GranularityLevel.Feed)
        {
            <h4 class="border-light border-bottom border-2">
                <span class="badge bg-light rounded-0 rounded-top">
                    <a asp-page="/Index" asp-route-channel="@channel.Slug">
                        @channel.Name
                    </a>
                </span>
            </h4>
        }
        <div class="row">
            @foreach (var feed in channel.Feeds)
            {
                @if (Model.Granularity > IndexModel.GranularityLevel.Feed)
                {
                    <div class="col-12 col-md-6">
                        <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="@feed.Slug">
                            @feed.Title
                        </a>
                    </div>
                }
                else
                {
                    <div class="col-12">
                        <h4 class="border-light border-bottom border-2">
                            <span class="badge bg-light rounded-0 rounded-top">
                                <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="@feed.Slug">
                                    @feed.Title
                                </a>
                            </span>
                        </h4>

                        @foreach (var post in feed.Posts)
                        {
                            if (Model.Granularity > IndexModel.GranularityLevel.Posts)
                            {
                                @* post title and link *@
                                <h5>
                                    <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="@feed.Slug"
                                       asp-route-year="@post.Published.Year" asp-route-month="@post.Published.Month" asp-route-day="@post.Published.Day" asp-route-hour="@post.Published.Hour">
                                        @post.Title
                                    </a>
                                    <small class="text-muted">@post.Published.ToString()</small>
                                </h5>
                            }
                            else
                            {
                                @* post title and content *@
                                <article>
                                    <h5 class="border-light border-bottom border-1">
                                        <span class="badge bg-light rounded-0 rounded-top">
                                            @post.Title
                                        </span>
                                    </h5>
                                    <p class="text-muted">@post.Published.ToString()</p>
                                    @Html.Raw(post.Content)
                                </article>
                            }
                        }
                    </div>
                }
            }
        </div>
    }
}