@page
@using System.Globalization;
@model News.App.Pages.NewsModel
@{
    ViewData["Title"] = Model.Date.ToString("D");
    var oldNews = Model.Date < DateTime.Today;
}

<div class="row g-5">
    <div class="col-md-8">
        <div class="d-flex justify-content-between pb-2 border-bottom">
            <h3>
                <i class="be bi-calendar-day flex-shrink-0 me-1 text-info"></i>
                @Model.Date.ToString("D")
            </h3>
            <div class="btn-group btn-group-sm align-self-center" role="group" aria-label="news commands">
                <a asp-route-day="@Model.Date.AddDays(-1).ToString(NewsModel.DateFormat, CultureInfo.InvariantCulture)" class="btn btn-outline-info">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <a asp-route-day="@Model.Date.AddDays(1).ToString(NewsModel.DateFormat, CultureInfo.InvariantCulture)"
                   class="btn @(oldNews ? "btn-outline-info" : "btn-outline-secondary disabled")">
                    <i class="bi bi-arrow-right"></i>
                </a>
                <button type="button"
                        class="btn @(oldNews ? "btn-outline-secondary disabled" : "btn-outline-primary")">
                    <i class="bi bi-arrow-clockwise"></i>
                </button>
            </div>
        </div>

        <article class="feed-post">
            @foreach (var channel in Model.Channels)
            {
                if (!channel.Posts.Any())
                {
                    continue;
                }

                <section>
                    <h4>
                        <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed=""
                           class="link-dark text-decoration-none" id="@channel.Slug">
                            @channel.Name
                        </a>
                    </h4>
                    <ul>
                        @foreach (var post in channel.Posts)
                        {
                            <li>
                                <a asp-page="/Index"
                                   asp-route-channel="@channel.Slug" asp-route-feed="@post.FeedSlug"
                                   asp-route-year="@post.PublishedLocal.Year.ToString("D4")"
                                   asp-route-month="@post.PublishedLocal.Month.ToString("D2")"
                                   asp-route-day="@post.PublishedLocal.Day.ToString("D2")"
                                   asp-route-post="@post.Slug" class="link-dark">@post.Title</a>
                            </li>
                        }
                    </ul>
                </section>
            }
        </article>
    </div>
    <div class="col-md-4">
        <div class="position-sticky" style="top: 1rem;">
            <div class="p-2">
                <h4>Channels</h4>
                <ul class="list-unstyled mb-0">
                    @foreach (var channel in Model.Channels)
                    {
                        if (!channel.Posts.Any())
                        {
                            continue;
                        }

                        <li><a href="#@channel.Slug">@channel.Name</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>