@model IEnumerable<IndexModel.RssChannel>

<div class="row">
    <div class="col-md-9 order-md-1 order-2">
        @foreach (var channel in Model)
        {
            <h3 id="@channel.Slug" class="pb-2 border-bottom">
                <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="" class="link-dark">
                    @channel.Name
                </a>
            </h3>

            @foreach (var feed in channel.Feeds)
            {
                <p>
                    <i class="@FeedTypeIcon(feed) @FeedTextClass(feed)" title="@feed.Error"></i>
                    <strong>
                        <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="@feed.Slug" asp-route-year=""
                           class="link-dark">
                            @feed.Title
                        </a>
                    </strong>
                    @if (feed.Description is not null)
                    {
                        <br />
                        <small class="text-muted">@Html.Raw(feed.Description)</small>
                    }
                </p>
            }
        }
    </div>
    <div class="col-md-3 order-md-2 order-1">
        <aside class="position-sticky" style="top: 1rem;">
            <nav class="p-2">
                <h4>Channels</h4>
                <ul class="list-unstyled mb-0">
                    @foreach (var channel in Model)
                    {
                        <li><a href="#@channel.Slug">@channel.Name</a></li>
                    }
                </ul>
            </nav>
        </aside>
    </div>
</div>

@functions {
    private static string FeedTypeIcon(RssFeedInfo feed)
    {
        return (FeedType)feed.Type switch
        {
            FeedType.Blog => "bi bi-file-text-fill",
            FeedType.Digest => "bi bi-bookmarks-fill",
            FeedType.Forum => "bi bi-chat-square-text-fill",
            FeedType.News => "bi bi-newspaper",
            FeedType.Audio => "bi bi-cassette-fill",
            FeedType.Video => "bi-bi-film",
            FeedType.Image => "bi bi-images",
            _ => "bi bi-rss-fill"
        };
    }

    private static string FeedLinkClass(RssFeedInfo feed)
    {
        return "link-" + FeedStatusName(feed);
    }

    private static string FeedTextClass(RssFeedInfo feed)
    {
        return "text-" + FeedStatusName(feed);
    }

    private static string FeedStatusName(RssFeedInfo feed)
    {
        return
            feed.HasError ? "danger" :
            feed.IsOutdated ? "secondary" :
            feed.HasPosts ? "primary" :
            "warning";
    }
}