@model RssChannel

<div class="row">
    <div class="col-md-9 order-md-1 order-2">
        <article class="mt-3">
            @foreach (var feed in Model.Feeds)
            {
                if (!feed.Posts.Any())
                {
                    continue;
                }

                <section>
                    <h6 id="@feed.Slug">
                        <i class="bi bi-rss-fill @FeedTextClass(feed)"></i>
                        <strong>
                            <a asp-page="/Index" asp-route-channel="@Model.Slug" asp-route-feed="@feed.Slug" asp-route-year=""
                               class="link-dark">
                                @feed.Title
                            </a>
                        </strong>
                    </h6>
                    <ul>
                        @foreach (var post in feed.Posts)
                        {
                            <li>
                                <a asp-page="/Index"
                                   asp-route-channel="@Model.Slug" asp-route-feed="@feed.Slug"
                                   asp-route-year="@post.PublishedLocal.Year.ToString("D4")"
                                   asp-route-month="@post.PublishedLocal.Month.ToString("D2")"
                                   asp-route-day="@post.PublishedLocal.Day.ToString("D2")"
                                   asp-route-post="@post.Slug" class="@PostLinkClass(post)">@Html.Raw(post.Title)</a>
                                <small class="text-muted">| @post.PublishedLocal.ToString("f")</small>
                            </li>
                        }
                    </ul>
                </section>
            }
        </article>

        <div class="mt-2">
            <partial name="_ChannelPagination" model="Model.Feeds" />
        </div>
    </div>
    <div class="col-md-3 order-md-2 order-1">
        <aside class="position-sticky" style="top: 1rem;">
            <nav class="p-2">
                <h4>@Model.Name</h4>
                <ul class="list-unstyled mb-0">
                    @foreach (var feed in Model.Feeds)
                    {
                        if (!feed.Posts.Any())
                        {
                            continue;
                        }

                        <li><a href="#@feed.Slug">@feed.Title</a></li>
                    }
                </ul>
            </nav>
        </aside>
    </div>
</div>

@functions {
    private static string PostLinkClass(RssPostInfo post)
    {
        return post.IsRead ? "link-secondary" : "link-dark";
    }

    private static string FeedLinkClass(RssFeedInfo feed)
    {
        return "link-" + FeedStatusName(feed);
    }

    private static string FeedTextClass(RssFeedInfo feed)
    {
        return "text-" + FeedStatusName(feed);
    }

    private static string FeedStatusName(RssFeedInfo feed)
    {
        return
            feed.HasError ? "danger" :
            feed.IsOutdated ? "secondary" :
            feed.HasPosts ? "primary" :
            "warning";
    }
}