@model IEnumerable<RssChannel>

@foreach (var channel in Model)
{
    <div class="container">
        <h2 class="pb-2 border-bottom">
            <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="" class="link-dark text-decoration-none">
                @channel.Name
            </a>
        </h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-2 g-4 py-4">
            @foreach (var feed in channel.Feeds)
            {
                <div class="col d-flex align-items-start">
                    <i class="be bi-rss-fill flex-shrink-0 me-3 fs-5 @FeedTextClass(feed)"></i>
                    <div>
                        <h4 class="fw-normal mb-0">
                            <a asp-page="/Index" asp-route-channel="@channel.Slug" asp-route-feed="@feed.Slug" asp-route-year=""
                               class="link-dark text-decoration-none">
                                @feed.Title
                            </a>
                        </h4>
                        <p>@Html.Raw(feed.Description)</p>
                    </div>
                </div>
            }
        </div>
    </div>
}

@functions {
    private string FeedLinkClass(RssFeedInfo feed)
    {
        return "link-" + FeedStatusName(feed);
    }

    private string FeedTextClass(RssFeedInfo feed)
    {
        return "text-" + FeedStatusName(feed);
    }

    private string FeedStatusName(RssFeedInfo feed)
    {
        return
            feed.HasError ? "danger" :
            feed.IsOutdated ? "secondary" :
            feed.HasPosts ? "primary" :
            "warning";
    }
}