@model RssChannel

@foreach (var feed in Model.Feeds)
{
    <div class="container">
        <div class="d-flex justify-content-between pb-2 border-bottom">
            <h3>
                <i class="be bi-rss-fill flex-shrink-0 me-1 @FeedTextClass(feed)"></i>
                <a href="@Html.Raw(feed.Link)" class="link-dark text-decoration-none">
                    @feed.Title
                </a>
            </h3>
            <div class="btn-group btn-group-sm align-self-center" role="group" aria-label="feed commands">
                <a asp-page="/Feed" asp-route-id="@feed.FeedId" class="btn btn-outline-primary"><i class="bi bi-pencil-fill"></i></a>
                <button type="button" class="btn btn-outline-danger"><i class="bi bi-trash"></i></button>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-1 row-cols-xl-2 g-4 py-5">
            @foreach (var post in feed.Posts)
            {
                <div class="col d-flex align-items-start">
                    <i class="bi bi-file-text text-muted flex-shrink-0 me-3 fs-5"></i>
                    <div>
                        <h5 class="mb-0">
                            <a asp-page="/Index" asp-route-channel="@Model.Slug" asp-route-feed="@feed.Slug"
                               asp-route-year="@post.PublishedLocal.Year.ToString("D4")"
                               asp-route-month="@post.PublishedLocal.Month.ToString("D2")"
                               asp-route-day="@post.PublishedLocal.Day.ToString("D2")"
                               asp-route-post="@post.Slug"
                               class="link-dark text-decoration-none">
                                @post.Title
                            </a>
                        </h5>
                        <p>@post.PublishedLocal.ToString("f")</p>
                        <p>@Html.Raw(post.Description)</p>
                    </div>
                </div>
            }
        </div>
    </div>
}

@functions {
    private string FeedLinkClass(RssFeedInfo feed)
    {
        return "link-" + FeedStatusName(feed);
    }

    private string FeedTextClass(RssFeedInfo feed)
    {
        return "text-" + FeedStatusName(feed);
    }

    private string FeedStatusName(RssFeedInfo feed)
    {
        return
            feed.HasError ? "danger" :
            feed.IsOutdated ? "secondary" :
            feed.HasPosts ? "primary" :
            "warning";
    }
}