@model RssChannel

<div class="row g-5">
    @foreach (var feed in Model.Feeds)
    {
        <div class="col-md-8">
            <div class="d-flex justify-content-between pb-2 border-bottom">
                <h3>
                    <i class="be bi-rss-fill flex-shrink-0 me-1 @FeedTextClass(feed)"></i>
                    <a href="@Html.Raw(feed.Link)" class="link-dark text-decoration-none">
                        @feed.Title
                    </a>
                </h3>
                <div class="btn-group btn-group-sm align-self-center" role="group" aria-label="feed commands">
                    <a asp-page="/Feed" asp-route-id="@feed.FeedId" class="btn btn-outline-primary" title="Edit @feed.Title">
                        <i class="bi bi-pencil-fill"></i>
                    </a>
                    <button is="confirm-dialog" type="button" class="btn btn-outline-danger"
                            action="@Url.Page("Feed", new { id = feed.FeedId })"
                            title="Delete @feed.Title" action-text="Delete">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            </div>

            @foreach (var post in feed.Posts)
            {
                <section class="mt-2">
                    <p class="mb-0">
                        <i class="bi bi-file-text text-muted"></i>
                        <strong>
                            <a asp-page="/Index" asp-route-channel="@Model.Slug" asp-route-feed="@feed.Slug"
                               asp-route-year="@post.PublishedLocal.Year.ToString("D4")"
                               asp-route-month="@post.PublishedLocal.Month.ToString("D2")"
                               asp-route-day="@post.PublishedLocal.Day.ToString("D2")"
                               asp-route-post="@post.Slug"
                               class="link-dark text-decoration-none">
                                @post.Title
                            </a>
                        </strong>
                    </p>
                    <p class="mb-0">
                        <small class="text-muted">
                            @post.PublishedLocal.ToString("f")
                            @if (!string.IsNullOrWhiteSpace(post.Author))
                            {
                                <text>|&nbsp;</text>
                                @Html.Raw(post.Author)
                            }
                        </small>
                    </p>
                    @if (!string.IsNullOrWhiteSpace(post.Description))
                    {
                        <section><small class="text-muted">@Html.Raw(post.Description)</small></section>
                    }
                </section>
            }

            <div class="mt-2">
                <partial name="_Pagination" model="feed.Posts" />
            </div>
        </div>
        <div class="col-md-4">
            <aside class="position-sticky" style="top: 1rem;">
                @if (!string.IsNullOrWhiteSpace(feed.Description))
                {
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="">About</h4>
                        <p class="mb-0">@Html.Raw(feed.Description)</p>
                    </div>
                }
                @if (feed.LastPublishedLocal.HasValue)
                {
                    var pubDate = feed.LastPublishedLocal.Value;
                    var pubDateLast = pubDate.AddYears(-1);
                    <nav class="p-4">
                        <h4 class="">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            @while (pubDate > pubDateLast)
                            {
                                <li>
                                    <a asp-page="/Index" asp-route-channel="@Model.Slug" asp-route-feed="@feed.Slug"
                                       asp-route-year="@pubDate.Year.ToString("D4")"
                                       asp-route-month="@pubDate.Month.ToString("D2")"
                                       asp-route-day="">
                                        @pubDate.ToString("MMMM yyyy")
                                    </a>
                                </li>
                                pubDate = pubDate.AddMonths(-1);
                            }
                        </ol>
                    </nav>
                }
                <div class="p-4">
                    <h4 class="">Elsewhere</h4>
                    <ol class="list-unstyled">
                        <li><a href="@feed.Link">@feed.Title</a></li>
                        <li><a asp-page="/Index" asp-route-channel="@Model.Slug" asp-route-feed="">@Model.Name</a></li>
                    </ol>
                </div>
            </aside>
        </div>
    }
</div>

@functions {
    private string FeedLinkClass(RssFeedInfo feed)
    {
        return "link-" + FeedStatusName(feed);
    }

    private string FeedTextClass(RssFeedInfo feed)
    {
        return "text-" + FeedStatusName(feed);
    }

    private string FeedStatusName(RssFeedInfo feed)
    {
        return
            feed.HasError ? "danger" :
            feed.IsOutdated ? "secondary" :
            feed.HasPosts ? "primary" :
            "warning";
    }
}