@using Relay.InteractionModel
@using Spryer

@model IEnumerable<object>

@{
    var (routeData, p, ps) = this.GetPageQueryParams(normalizePageSize: ChannelPageRequest.NormalizePageSize);
}

<nav class="d-flex justify-content-between flex-sm-wrap" aria-label="Pagination">
    <ul class="pagination">
        <li class="page-item @(Model.Any() ? "" : "disabled")">
            <a class="page-link" asp-all-route-data="routeData" asp-route-p="@(p + 1)" asp-route-ps="@ps">
                <i class="bi bi-arrow-left"></i>
            </a>
        </li>
        <li class="page-item @(p > 1 ? "" : "disabled")">
            <a class="page-link" asp-all-route-data="routeData" asp-route-p="@(p - 1)" asp-route-ps="@ps">
                <i class="bi bi-arrow-right"></i>
            </a>
        </li>
    </ul>

    <ul class="pagination">
        @foreach (var pageSize in ChannelPageRequest.PageSizes)
        {
            <li class="page-item @(pageSize == ps ? "disabled" : "")">
                <a class="page-link" asp-all-route-data="routeData" asp-route-p="@Page.FirstPageNumber" asp-route-ps="@pageSize">
                    @pageSize
                </a>
            </li>
        }
    </ul>
</nav>
