@using Relay.InteractionModel
@model IEnumerable<object>

@{
    var (routeData, p, ps) = this.GetPageQueryParams();
}

<nav class="d-flex justify-content-between" aria-label="Pagination">
    <ul class="pagination">
        <li class="page-item @(p > 1 ? "" : "disabled")">
            <a class="page-link" asp-all-route-data="routeData" asp-route-p="@(p - 1)" asp-route-ps="@ps">
                <i class="bi bi-chevron-left"></i>
            </a>
        </li>
        <li class="page-item @(Model.Count() == ps ? "" : "disabled")">
            <a class="page-link" asp-all-route-data="routeData" asp-route-p="@(p + 1)" asp-route-ps="@ps">
                <i class="bi bi-chevron-right"></i>
            </a>
        </li>
    </ul>

    <ul class="pagination">
        @foreach (var pageSize in Page.AvailablePageSizes)
        {
            <li class="page-item @(pageSize == ps ? "disabled" : "")">
                <a class="page-link" asp-all-route-data="routeData" asp-route-p="@Page.FirstPageNumber" asp-route-ps="@pageSize">
                    @pageSize
                </a>
            </li>
        }
    </ul>
</nav>
